@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;800&display=swap');

:root {
	--mainfont: 'Heebo', sans-serif;
	--fontcolgen:  #EAEAEA;
	--yellow:  #F5D547;
	--white: white;
	--black: black;
	--bkgcolor: #662d91;
	--mainshad:rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
	--buttonshad:rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;;
}

body {
	font-family: var(--mainfont);
	background-color: var(--bkgcolor);
	color: var(--black);
	padding: 0.5vh;
}

a {
	text-decoration: none;
	color: var(--white);
	padding: 0.5vh;
}

a:hover {
	box-shadow: var(--mainshad);
	text-decoration: none;
	color: var(--black);
	background-color: var(--yellow) ;
	border-radius: 2vh;
}

input {
	font-family: var(--mainfont);
	padding: 0.8vh;
}

.downlinks {
	float: bottom;
}

#inscwrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#subs { 
	box-shadow: var(--mainshad);
	background-color: var(--white);
	border: solid 1px whitesmoke ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1vh;
	padding: 2vh;
	width: 30%;
}

#subs h1 {
	color: var(--black);
}

#subs input {
	padding: 0.8vh;
		box-shadow: var(--buttonshad);

}



footer {
	float: right;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1vh;
	border-radius: 1vh;
	background-color: var(--yellow);
	color: white;
	font-size: 0.8em;
}

#connwrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#connbody {
	background-color: var(--white);
	border: solid 1px whitesmoke ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1vh;
	padding: 2vh;
	width: 30%;
}

#connbody a {
	margin-top: 1vh;
	color: black;
	box-shadow: var(--buttonshad);
}

.buttons1 {
	color: black;
	background-color: var(--yellow) ;
	border-radius: 2vh;
	padding: 1vh;
	border: none;
	box-shadow: var(--buttonshad);
}

.buttons1:hover {
	color: #800080;
	background-color: var(--yellow) ;
	border-radius: 2vh;
	padding: 1vh;
	border: none;
	box-shadow: var(--mainshad);
}

.hiddenbuttons {

	color: black;
	background-color: var(--yellow) ;
	border-radius: 2vh;
	padding: 1vh;
	border: none;
	box-shadow: var(--buttonshad);
}

.hiddenbuttons:hover {
	color: #800080;
	background-color: var(--yellow) ;
	border-radius: 2vh;
	padding: 1vh;
	border: none;
	box-shadow: var(--mainshad);
}


.ads {
	border: solid 1px var(--yellow);
	border-radius: 1vh;
	padding: 1vh;
	color: var(--black);
	margin-top: 1vh;
}

#indextitles {
	color: var(--yellow);
}

/* profil */

#mainwrapperprofil{
	display: flex;
}

#sidediv {
	background-color: var(--white);
	flex: 1;
}
#pfp {
	flex: 1;
	background-color: var(--black);
}

#sidediv h1,h2 {
	padding: 2vh;
}

#sidediv h1 {
	font-size: 2em;
}

#usermaindiv {
	flex: 4;
	box-shadow: var(--mainshad);
}

#editinfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 2;
	color: var(--black);
	background-color: var(--white);
	border-radius: 2vh;
}

#seediv {
	background-color: var(--white);
	display: flex;
	height: 6vh;
}
#seediv span{
	background-color: var(--white);
		border: solid 1px var(--yellow);
	border-radius: 1vh;
	padding: 1vh;
	color: var(--black);
}

#editinfo h4 {
	background-color: var(--yellow) ;
	border-radius: 2vh;
	box-shadow: var(--mainshad);
display: flex;
text-align: center;
padding: 4vh;
}

#editinfoform form {

	box-shadow: var(--mainshad);
	display: flex;
	flex-direction: column;
}

#editandcomment {
	display: flex;
}

#comments {
	flex: 4;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}

#commentsform {
	padding: 2vh;
	box-shadow: var(--mainshad);
}